<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-9">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let book of Books;let i= index">
                    <th scope="row">{{book._id}}</th>
                    <td>{{book.name}}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.description}}</td>
                    <td><button class="btn btn-primary" routerLink="/edit-book/{{book._id}}">Edit</button> <button class="btn btn-danger" (click)="delete(book._id)">Delete</button></td>
                  </tr>
                  
                </tbody>
              </table>              
        </div>
    </div>
</div>